{% extends "layout.html" %}

{% block title %}
About
{% endblock %}
{% block content%}

<div class="row">
  <div class="w-80 mx-auto">
    <div class="card" style="width: 18rem;">
      <img src="static/img/noticia-1585335050-vizcarra.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">He usado la base de datos del John Hopkins.</p>
        <a href="https://coronavirus.jhu.edu/map.html">John Hopkins map</a>
        <hr>
        <a href="https://github.com/CSSEGISandData/COVID-19">Github John Hopkins data</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
