{% extends "layout.html" %}

{% block title %}
vizcarraVirus
{% endblock %}

{% block content %}

<div class="text-center">
  <h1>Casos diarios de Covid-19 en el Peru</h1>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<style>
  canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
</style>
<div class="row">
  <div class="w-100 mx-auto">
    <div style="width: 100%;">
      <canvas id="myChart" width="600" height="300"></canvas>
    </div>
  </div>
</div>
<div class="text-center">
<h1>Muertos diarios de las ultimas 2 semanas</h1>
</div>
<div class="row">
  <div class="w-100 mx-auto">
    <div style="width: 100%;">
      <canvas id="myChart2" width="400" height="150"></canvas>
    </div>
  </div>
</div>
<div class="text-center">
  <h1>Totales de casos </h1>
</div>

<div class="row">
  <div class="w-100 mx-auto">
    <div style="width: 100%;">
      <canvas id="myDoughnutChart" width="400" height="150"></canvas>
    </div>
  </div>
</div>

<script>

  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{% for each in head %} "{{ each }}", {% endfor %}],
        datasets: [{
            label: 'Confirmados', // Name the series
            data: [{% for each in confirmed %} {{ each }}, {% endfor %}], // Specify the data values array
            fill: false,
            borderColor: 'green', // Add custom color border (Line)
            backgroundColor: 'green', // Add custom color background (Points and Fill)
            borderWidth: 4 // Specify bar border width
          },
          {
            label: 'Muertos', // Name the series
            data: [{% for each in deaths %} {{ each }}, {% endfor %}], // Specify the data values array
            fill: false,
            borderColor: 'red', // Add custom color border (Line)
            backgroundColor: 'red', // Add custom color background (Points and Fill)
            borderWidth: 4 // Specify bar border width
          },
          {
            label: 'Recuperados', // Name the series
            data: [{% for each in recovered %} {{ each }}, {% endfor %}], // Specify the data values array
            fill: false,
            borderColor: 'blue', // Add custom color border (Line)
            backgroundColor: 'blue', // Add custom color background (Points and Fill)
            borderWidth: 4 // Specify bar border width
          }
        ]
      },
      options: {
        responsive: true, // Instruct chart js to respond nicely.
        maintainAspectRatio: true, // Add to prevent default behaviour of full-width/height
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
  });
  var LABELS = [{% for item in lastWeekDays %}
                "{{item}}",
                {% endfor %}];
  var LASTWEEK = [{% for item in lastWeek%}
                  {{item}},
                  {% endfor %}];
  var BEFORELASTWEEK = [{% for item in beforeLastWeek %}
                        {{item}},
                        {% endfor%}];

  var ctx = document.getElementById('myChart2').getContext('2d');
  var myChart2 = new Chart(ctx,{
    type: 'bar',
    data: {
      labels: LABELS,
      datasets:[{
        label: 'Muertos esta semana',
        data: LASTWEEK,
        backgroundColor: 'red'
      },
      {
        label: "Muestos de la semana pasada",
        data: BEFORELASTWEEK,
        backgroundColor: 'blue'
      },]
    },
    options: {
      responsive: true,
      maintainAspectRatio: true,
      scales:{
        yAxes:[{
          ticks:{
            beginAtZero: true
          }
        }]
      }
    }
  });
  var ctx = document.getElementById('myDoughnutChart').getContext('2d');
  var myDoughnutChart = new Chart(ctx,{
    type: 'doughnut',
    data: {
      datasets:[{
        data: [{{ doughnut[0] }}, {{ doughnut[1] }}, {{ doughnut[2] }}],
        backgroundColor: ['green', 'blue', 'red']
      }],
      labels:['Casos Confirmados', 'Recuperados', 'Muertos']
    }
  }
  )
</script>
{% endblock %}
